default: &default
  adapter: postgresql
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: db
  username: postgres

development:
  <<: *default
  database: spotify-playlist

test:
  <<: *default
  database: spotify-playlist_test

production:
  <<: *default
  database: spotify-playlist
