<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Playlist</title>
    <meta charset="utf-8">
    <meta name=description content="Remove the songs added to the playlist 'Remove from spotify' from every playlists.">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
